<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../../commonStyles.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("../../partials/navbar") %>

    <div class="spd-commonv2-content-container">
      <div class="spd-commonv2-sidebar-container">
        <div class="spd-commonv2-sidebar-item-container">
          <a>Back</a>
        </div>
      </div>

      <div class="spd-commonv2-center-container">
        <div  class="spd-new-tranact-grp-container">
          <form action="TransactionGroupManager/newTransactionGroup" method="POST">
            <input name="transactGrpName" />
            <button>Add</button>
          </form>
        </div>

        <div class="spd-transact-grp-items-container">

          <% if(locals.finGrpsRows&&locals.transGrpRowNames){ %>
            <% finGrpsRows.forEach(row => { %>
        
          <div class="spd-transact-grp-item-container">
            <div id="transactionGrpDisplay_1" class="spd-transact-grp-item-display">
            
              <h1 ><%=row[transGrpRowNames.name] %></h1>
              <button class="transactGrpToggleEditBtnsA" id= "<%="transactGrpEditBtn_"+row[transGrpRowNames.id]%>" %>" value="<%=row[transGrpRowNames.id] %>">✎</button>
            </div>


            <div id="<%="transactGrpDeleteForm_"+row[transGrpRowNames.id]%>"  class="spd-transact-grp-item-display">
              <form class="transactGrpEditFormA" id="<%="transactGrpEditForm_"+row[transGrpRowNames.id]%>" class="spd-transact-grp-form">
                <input value="<%=row[transGrpRowNames.name] %>" name="transactGrpName" />
                 <input type="hidden"  name="transactGrpId" value="<%=row[transGrpRowNames.id] %>">
                <button  >Save</button>
              </form>

              <form class="transactGrpDeleteFormA" id="<%="transactGrpDeleteForm_"+row[transGrpRowNames.id] %>"class="spd-transact-grp-form">
                <input type="hidden"  name="transactGrpId" value="<%=row[transGrpRowNames.id] %>">
                <button >Delete</button>
              </form>
            </div>
            
          </div>
            <%        
          });} %>

          </div>
        </div>
      </div>
    </div>
    <script src="../commonScript.js"></script>
    <script type="module" src="transactGrpManagerScript.js"></script>
  </body>
</html>
