<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicinski</title>
   
    <link href="style.css" rel="stylesheet" />
    <link href="../commonStyles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <%- include("../partials/navbar") %>

    <div class="content-columns-container">
      <div class="sidebar-div">
        <div class="sidebar-container">
          <button id="btnEdit">Uredi</button>
        </div>
        <div class="sidebar-container">
          <button id="btnAppointToggle">Termini</button>
        </div>
        <div class="sidebar-container">
          <button id="btnGroupsToggle">Grupe</button>
        </div>
        <div class="sidebar-container">
          <button id="btnAddAppoitment">Dodaj Termin</button>
        </div>
        <div class="sidebar-container">
          <button id="btnAddGroup">Dodaj Grupu</button>
        </div>
        <div class="sidebar-container"><button>Postavke</button></div>
        <div class="sidebar-container">
          <button id="btnExportData">Izvoz podataka</button>
        </div>
      </div>

      <div class="content-row-container">
   

        <%- include("./parts/underbar") %>


        <%- include("./parts/appoint_group_form") %>
        <%- include("./parts/appoint_form") %>
        <%- include("./parts/appoint_table")  %> 
        <%- include("./parts/appoint_grp_table") %>
        <%- include("./parts/delete_form") %>

      </div>
    </div>
    <script src="script.js"></script>
    <script src="../commonScript.js"></script>
  </body>
</html>
