<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicinski</title>
    <link href="../commonStyles.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <%- include("../partials/navbar") %>

    <div></div>

    <div class="content-columns-container">
      <div class="sidebar-div">
        <div class="sidebar-container">
          <button id="btnEdit">Uredi</button>
        </div>
        <div class="sidebar-container"><button id="btnAppointToggle">Termini</button></div>
        <div class="sidebar-container"><button id="btnGroupsToggle">Grupe</button></div>
        <div class="sidebar-container">
          <button id="btnAddAppoitment">Dodaj Termin</button>
        </div>
        <div class="sidebar-container">
          <button id="btnAddGroup">Dodaj Grupu</button>
        </div>
        <div class="sidebar-container"><button>Postavke</button></div>
        <div class="sidebar-container">
          <a href="medicalDataExport">Izvoz podataka</a>
        </div>
      </div>

      <!--FORMA Termina  -->
      <div id="appoitmentAddForm" class="hidden popup-container">
        <div class="form-container">
          <div class="form-close-button-container">
            <button id="btnCloseAppoitmentAddForm">X</button>
          </div>

          <form
            method="POST"
            action="/Medical/AppointmentsAddEdit"
            class="form-body-container"
          >
            <input
              id="appointFormIdInput"
              name="appointmentId"
              type="hidden"
              value="0"
            />
            <div class="form-element-wrapper-col">
              <div class="form-element-wrapper-row">
                <label>Datum termina</label>
              </div>
            </div>

            <div class="form-element-wrapper-col">
              <div class="form-element-wrapper-row">
                <div class="form-element-wrapper-row-ext">
                  <input id="formDateInput" name="appointmentDate" />
                </div>
                <div class="container-form-row-btn">
                  <button id="formDateSelect" type="button">📅</button>
                </div>
              </div>
            </div>

            <div class="form-element-wrapper-col">
              <div class="form-element-wrapper-row">
                <label>Opis termina</label>
              </div>
              <div class="form-element-wrapper-row">
                <input id="appointmentDesc" name="appointmentDesc" />
              </div>
            </div>

            <div class="form-element-wrapper-col">
              <div class="form-element-wrapper-row">
                <label>Grupa termina</label>
              </div>
              <div class="form-element-wrapper-row">
                <select
                  id="appointFormAppointGroupSelect"
                  name="appointmentGroup"
                >
                  <% if (groups && groups.length > 0) { %> <%
                  groups.forEach(group => { %>
                  <option value=" <%=group.appointment_group_id %>">
                    <%= group.appointment_group %>
                  </option>
                  <% }) %> <% } else { %>
                  <option disabled>No groups found</option>
                  <% } %>
                </select>
              </div>
            </div>

            <div class="form-element-wrapper-col">
              <div class="form-element-wrapper-row">
                <button id="formSendBtnAppoitment">Dodaj termin</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!--FORMA  GRUPI Termina  -->

      <div id="appoitmentAddGroupForm" class="hidden popup-container">
        <div class="form-container">
          <div class="form-close-button-container">
            <button id="bntCloseAppoitmentAddGroupForm">X</button>
          </div>

          <form
            method="POST"
            action="/Medical/AppoitmentGroup"
            class="form-body-container"
          >
            <div class="form-element-wrapper-col">
              <input id="appointGrpPopupForm-id" name="id" type="hidden" value="0" />
              <div class="form-element-wrapper-row">
                <label>Naziv grupe</label>
              </div>
              <div class="form-element-wrapper-row">
                <input   id="appointGrpPopupForm-grpNm" name="groupName" />
              </div> 
            </div>

            <div class="form-element-wrapper-col">
              <div class="form-element-wrapper-row">
                <button id="formSendBtnAppoitment">Dodaj grupu</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <%- include("./parts/appoint_table") %> <%-
      include("./parts/appoint_grp_table") %>

      <div id="deletePopupForm" class="hidden popup-container">
        <div class="form-container">
          <form
            method="POST"
            action="/Medical/AppointmentsDelete"
            class="form-body-container"
          >
            <input id="deleteElementId" name="deleteElementId" type="hidden" />
            <input
              id="deleteElementType"
              name="deleteElementType"
              type="hidden"
            />

            <div class="form-element-wrapper-col">
              <p id="deleteWarningMsg"></p>

              <div class="form-element-wrapper-row">
                <button id="popupCancelDeleteBtn" type="button">
                  Odustani
                </button>
                <button id="popupDeleteBtn" type="submit">Izbriši</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
