<div class="content-columns-container">
  <div class="content-column-container">
    <div class="fin-acc-view-title-header">

      <%- include("parts/accountDetails")%>

   
    </div>

  

    <div class="fin-acc-row-wrapper">
      <h1>Transakcije:</h1>
      <button class="fin-acc-new-trans-btn" id="newTransactionBtn">+nova Transakcija</button>
    </div>

    <%- include("parts/newTransact")%>

   <%- include("parts/transactionsDisplay.ejs")%>

    <%- include("parts/editAccount")%>
    <%- include("../../partials/deleteConfirm.ejs")%>

  </div>
</div>
