   <!--TABLICA Termina  -->
<!--TABLICA Termina  -->
<div  id="appointTableContainer" class="table-container">
  <h1>Termini</h1>
  <table class="table-display-data">
    <thead >
      <tr class="table-display-data-hader-row">
    
        <th>Naslov Termina</th>
        <th>Datum termina</th>
        <th>Grupa termina</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if (appoitmentsData && appoitmentsData.length > 0) { %>
        <% appoitmentsData.forEach(function(appointment) { %>
          <tr  class="table-display-data-body-row" id="<%= 'appointmentTableRow_' + appointment.appointment_id %>">
          
            <td id="<%= 'appointmentTableRow_descData_' + appointment.appointment_id %>">
              <%= appointment.appointment_desc %>
            </td>
            <td>
              <%= appointment.formatted_date %>
              <div style="display: none;">
                <input id="<%= 'appointmentTableRow_dateData_' + appointment.appointment_id %>" 
                  value="<%= appointment.inputFormat %>" type="hidden">
              </div>
            </td>
            <td id="<%= 'appointmentTableRow_groupData_' + appointment.appointment_id %>">
              <%= appointment.appointment_group %>
            </td>
            <td class="table-data-edit-td">
              <button value="<%= appointment.appointment_id %>" 
                class="btn-table-edit btn-appointment-table-edit hidden">
                uredi
              </button>
            </td>
            <td class="table-data-delete-td">
              <button value="<%= appointment.appointment_id %>" 
                class="btn-table-edit btn-appointment-table-delete hidden">
                izbrisi
              </button>
            </td>
          </tr>
        <% }); %>
      <% } %>
    </tbody>
  </table>
</div>