<!--TABLICA Grupa  -->
<div id="appointGrpTableContainer" class="hidden table-container" >
  <h1>Grupe Termina</h1>
  <table class="table-display-data">
    <thead>
      <tr class="table-display-data-hader-row">
        
        <th>Grupa Termina</th>
        <th></th>
        <th></th>
        <th id="groupsHeaderRowSelectGrps" class="hidden">Odaberi</th>
      </tr>
    </thead>
    <tbody>
      <% if (groups && groups.length > 0) { %> <% groups.forEach(function(group)
      { %>
      <tr  class="table-display-data-body-row">
       
        <td id="<%= 'appointGrpData-name' + group.appointment_group_id %>"> <%= group.appointment_group %>  </td>
        <td class="table-data-edit-td">
          <button
            value="<%= group.appointment_group_id %>"
            class="btn-table-edit btn-appointment-grp-table-edit hidden"
          >
            uredi
          </button>
        </td>
        <td class="table-data-delete-td">
          <button
            value="<%= group.appointment_group_id %>"
            class="btn-table-edit btn-appointment-grp-table-delete hidden"
          >
            izbrisi
          </button>
        </td>
        <td id="<%= 'appointGrpDatExporChckBx-' + group.appointment_group_id %>" class="table-dat-exoport-select-group-td  hidden">
          <input type="checkbox" value="<%= group.appointment_group_id %>" class="table-checkbox ">
        </td>
      </tr>
      <% }); %> <% } %>
    </tbody>
  </table>
</div>
