<div class="table-container-fin-acc">
<table class="table-display-data">

    <thead class="table-display-data ">
        <tr class="table-display-data-hader-row">
<th> tid</th>
            <th>Transaction desc</th>
            <th>Transaction ammount</th>
            <th>Transaction date</th>
            <th>Transaction Group</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>


    </thead>

<tbody>
<% if (locals.transactionRows) { %>
 
    <% transactionRows.forEach(row => { %>

        <tr class="table-display-data-body-row">
            <td ><%= row.fin_transaction_id %></td>

            <td id=<%= "finTransTableDescTd_"+row.fin_transaction_id%>>
                <%= row.transaction_desc %></td>

            <td id=<%= "finTransTableAmountTd_"+row.fin_transaction_id%>>
                <%= row.transaction_amount %></td>

            <td >
                <%= row.transOuputDateFormat %> <input 
                id=<%= "finTransTableDateTdInput_"+row.fin_transaction_id%>
                type="hidden" value=  <%= row.inputDateFormat %>>
            </td>

                
            <td id=<%= "finTransTableGrpIdTd_"+row.fin_transaction_id%>>
                <%= row.transaction_group_id %></td>



            <td  ><button value= <%=row.fin_transaction_id%> class=" fin-acc-edit-btn  fin-trans-edit-btns" >✎</button></td>
            <td class="hidden table-data-edit-td " id=<%= "finTransTableEditTd_"+row.fin_transaction_id%>  >
                <button id=<%= "finTransTableEditBtn_"+row.fin_transaction_id%> value=<%= row.fin_transaction_id %>  >Uredi</button></td>
            <td class="hidden table-data-delete-td " id=<%= "finTransTableDeleteTd_"+row.fin_transaction_id%> >
                <button  id=<%= "finTransTableDeleteBtn_"+row.fin_transaction_id%> value=<%= row.fin_transaction_id %>  >Izbriši</button></td>
        </tr>
     
    <% }) %>





<% } %>
 

</tbody>
</table>

</div>