<div class="table-container-fin-acc">
<table class="table-display-data">

    <thead class="table-display-data ">
        <tr class="table-display-data-hader-row">
<th> tid</th>
            <th>Transaction desc</th>
            <th>Transaction ammount</th>
            <th>Transaction date</th>
            <th>Transaction Group</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>


    </thead>

<tbody>
<% if (locals.transactionRows) { %>
 
    <% transactionRows.forEach(row => { %>

        <tr class="table-display-data-body-row">
            <td id= <%= "transactTabIdTd_"+ row.finTransId %>>
             <%= row.finTransId %>
            </td>
            

            <td id= <%= "finTransTableDescTd_"+row.finTransId%>>
                <%= row.finTransDesc %>
            </td>
                   
                
            <td id=<%= "finTransTableAmountTd_"+row.finTransId%>>
                <%= row.finTransAmount %>
            </td>

            <td >
                <%= row.transOuputDateFormat %> <input 
                id=<%= "finTransTableDateTdInput_"+row.finTransId%>
                type="hidden" value=  <%= row.inputDateFormat %>>
            </td>

                
            <td id=<%= "finTransTableGrpIdTd_"+row.finTransId%>>
                <%= row.finTransGrpNm %></td>



            <td  ><button value= <%=row.finTransId%> class=" fin-acc-edit-btn  fin-trans-edit-btns" >✎</button></td>
            <td class="hidden table-data-edit-td " id=<%= "finTransTableEditTd_"+row.finTransId%>  >
                
                <button class="finTransTableEditBtns"
                 id=<%= "finTransTableEditBtn_"+row.finTransId%> value=<%= row.finTransId %>  >Uredi</button></td>
        
        
                <td class="hidden table-data-delete-td " id=<%= "finTransTableDeleteTd_"+row.finTransId%> >
                <button class="finTransTableDeleteBtns" 
                 id=<%= "finTransTableDeleteBtn_"+row.finTransId%> value=<%= row.finTransId %>  >Izbriši</button></td>
        </tr>
     
    <% }) %>





<% } %>
 

</tbody>
</table>

</div>